.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;

    .hero {
        width: 280px; /* Fixed width */
        height: 260px; /* Fixed height */
        border-radius: 50%; /* Makes it circular */
        overflow: hidden; /* Ensures content doesn't spill out */
        display: block; /* Useful if it's an inline element like an <img> */
        border: 5px solid #000; /* Black ring, adjust thickness */
        box-sizing: border-box; /* Ensures border doesn't affect layout */
        margin-left: 70px;
        margin-bottom: 10px;
    }
    .info{
            margin-bottom: -100px;
        }
    span{
        display: flex;
        gap: 25px;
        justify-content: center;
        a{
            margin: 0;
            img{
                width: 30px;
            }
        }
    }
    a{
        width: fit-content;
        align-self: center;
    }
    button{
       width: 100%;
        padding: 14px 24px;
        background: #1f2937;
        color: #000000;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        font-family: 'Roboto Mono', monospace;
    }
    button:hover {
        transform: scale(1.05);
        transform: translateY(-2px);
        background: linear-gradient(rgba(255, 255, 255, 0.3));
    }
    button:active {
        transform: translateY(2px);
        box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    }
}

.colorModeContainer {
    position: relative;
}

.colorMode{
    position: absolute;
    top: 0; /* Positions it at the top */
    right: 0; /* Aligns it to the right */
    width: 35px; /* Sets the width */
    height: 35px; /* Optionally define height for a square button */
}

.colorMode:hover{
    cursor: pointer;
}

.description{
    max-width: 39ch;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 29px;
}

@media (width >=800px){
    .container{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;

        .hero{
           max-width: 390px;
           width: 300px;
           height: 280px;
           margin-left: -60px;
           margin-bottom: 20px;
        }
        .info{
            margin-bottom: -80px;
        }
    }
}

@media (width >=1400px){
    .container{
        .hero{
           max-width: 450px;
           width: 300px;
           height: 280px;
           margin-left: -120px;
           margin-bottom: 220px;
        }
        .info{
            margin-bottom: -80px;
        }
    }
}

