:root {
    --background-color:#ffffff;
    --btn-color: #0987f2;
    --btn-text-color:#fff;
    --project-card-bg:#ffffff00;
    --text-color: #222;
    --form-text-color: #555;
    --footer-text-color: #888;

}

[data-theme='dark'] {
    --background-color:#000;
    --project-card-bg:#fff;
    --text-color:#ffffff; /* black text */
    body, h2, h4, h5, h6 {
        color: var(--text-color);
        -webkit-text-stroke: 1px #000000;
    }
    h1{
        -webkit-text-stroke: 2px #000000;
    }


}



body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
h1,h2,h3,p {
    color: var(--text-color);
    margin: 0;
    padding: 0;

}

h2,h3,p{
    font-family: 'Roboto Mono', monospace;
}

h1,h2 {
    text-transform: uppercase;
}

h2,h3 {
    font-size: 20px;
}

h1 {
    font-family: 'Rubik',sans-serif;
    font-size: 32px;
}

p {
 font-size: 16px;
 font-weight: 300;
}

.sectionTitle{
   margin-bottom: 30px;
}
.hover{
    cursor: pointer;
}


@media ( width >=800px) {
    #root {
        gap: 100px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
    .sectionTitle{
        margin-bottom: 60px;
    }
    @media ( width >=1400px) {
        #root {
            gap: 200px;
        }
        h1{
            font-size: 48px;
        }
        .sectionTitle{
            margin-bottom: 75px;
        }
    }
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

/* Default canvas styling */
canvas {
    display: none; /* Hidden by default unless in dark mode */
}

/* Dark mode-specific canvas styling */
[data-theme='dark'] canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Ensure it stays behind other elements */
    pointer-events: none; /* Allow interactions with content above */
}